body{
    background-color: lightcoral;
    background-color: darkolivegreen;
    width: 200px;
    height: 150px;
    background-color: blue;
    overflow:scroll;
    
}
/* #div{
    width: 150px;
    height: 150px;
    background-color: blue;
    overflow:scroll;
} */